<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<center>
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<h2>Users</h2>

<table width="500" border="1" >
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>E-mail</th>
        <th>action</th>
    </tr>
    <tbody>
    <!--    <td align="center" valign="middle"> </td>-->
    <tr th:each="c : ${users}">
        <td align="center" valign="middle" th:text="${c.id}"/>
        <td align="center" valign="middle" th:text="${c.firstName}"/>
        <td align="center" valign="middle" th:text="${c.lastName}"/>
        <td align="center" valign="middle" th:text="${c.email}"/>
        <td align="center" valign="middle">
            <a th:href="@{/{userid}/edit(userid=${c.id})}">edit</a>
            <a th:href="@{/{userid}/delete(userid=${c.id})}">delete</a>
        </td>
    </tr>
    </tbody>
</table>

<br/>
<hr/>

<a align="center" valign="middle" href="/new">Create new user</a>

</body>
    <center>
</html>